a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: #f9f9f9;
}
nav {background-color: #333; font-size: 18px; margin: 5px; padding: 5px; word-spacing: 100px; text-align: center;}
nav *{
	display: inline;
}
body{
	font-family: georgia, serif;
	font-size: 18px;
	font-weight: normal;
	padding: 10px;
	margin: 0;
	color: #757780;
	background: #f8f8f8;
}
.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 10px;
}

.my-form label {
	display: block;
}

.my-form .button {
	background-color: coral;
	color: black;
	padding: 10px;
	border: none;
}

.button:hover{
	color: red;
}

.block{
	float: left;

	width: 33.3%;
}